In [6]:
import pandas as pd
import numpy as np

In [7]:
# 查看Pandas版本
pd.__version__

'1.2.4'

In [8]:
# CSV文件的读取
df = pd.read_csv('./data/table.csv')
df.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

In [9]:
# txt文件的读取
df_txt = pd.read_table('./data/table.txt')
df_txt

   col1 col2  col3    col4
0     2    a   1.4   apple
1     3    b   3.4  banana
2     6    c   2.5  orange
3     5    d   3.2   lemon

In [10]:
# xls 或 xlsx文件的读取
# 需要安装xlrd包 或 openpyxl
df_excel = pd.read_excel("./data/table.xlsx")
df_excel.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

In [12]:
# CSV文件的写入
df.to_csv('./data/new_table.csv')
#df.to_csv('data/new_table.csv', index=False) #保存时除去行索引

In [13]:
# xls 或 xlsx文件的写入
#需要安装openpyxl
df.to_excel("./data/new_table2.xlsx",sheet_name='Sheet1')