In [1]:
import pandas as pd
import numpy as np

In [2]:
# 查看Pandas版本
pd.__version__

'1.2.4'

In [3]:
# CSV文件的读取
df = pd.read_csv('./data/table.csv')
df.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

In [4]:
# txt文件的读取
df_txt = pd.read_table('./data/table.txt')
df_txt

   col1 col2  col3    col4
0     2    a   1.4   apple
1     3    b   3.4  banana
2     6    c   2.5  orange
3     5    d   3.2   lemon

In [5]:
# xls 或 xlsx文件的读取
# 需要安装xlrd包 或 openpyxl
df_excel = pd.read_excel("./data/table.xlsx")
df_excel.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

In [6]:
# CSV文件的写入
df.to_csv('./data/new_table.csv')
#df.to_csv('data/new_table.csv', index=False) #保存时除去行索引

In [7]:
# xls 或 xlsx文件的写入
#需要安装openpyxl
df.to_excel("./data/new_table2.xlsx",sheet_name='Sheet1')

In [13]:
num = pd.read_excel("relation.xlsx",header=None)
num.shape

(70, 2)

In [24]:
img_list = []
lable_list = []
num = pd.read_excel("relation.xlsx",header=None)
img_list= num.iloc[:][0].values
lable_list = num.iloc[:][0].values
for img,lable in zip(img_list,lable_list):
    if 
    
    
# print(img_list)
# print(lable_list)

[649398 649402 649404 649410 649420 649424 649446 649454 649455 649464
 649471 649486 649501 649505 649521 649534 649543 649546 649552 649553
 649578 649585 649592 649595 649601 649626 649627 649653 649659 649669
 649690 649702 649704 649706 649727 649731 649735 649759 649762 649780
 649796 649821 649847 649853 649867 649872 649885 649907 770118 770121
 770131 770134 770138 770146 770154 770156 770160 770167 770175 770187
 770197 770224 770244 770297 770308 770327 770344 770351 770361 770366]
[649398 649402 649404 649410 649420 649424 649446 649454 649455 649464
 649471 649486 649501 649505 649521 649534 649543 649546 649552 649553
 649578 649585 649592 649595 649601 649626 649627 649653 649659 649669
 649690 649702 649704 649706 649727 649731 649735 649759 649762 649780
 649796 649821 649847 649853 649867 649872 649885 649907 770118 770121
 770131 770134 770138 770146 770154 770156 770160 770167 770175 770187
 770197 770224 770244 770297 770308 770327 770344 770351 770361 770366]